body {
  background: rgb(195, 34, 151);
  background: -moz-linear-gradient(
    90deg,
    rgba(195, 34, 151, 1) 0%,
    rgba(251, 168, 59, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(195, 34, 151, 1) 0%,
    rgba(251, 168, 59, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(195, 34, 151, 1) 0%,
    rgba(251, 168, 59, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c32297",endColorstr="#fba83b",GradientType=1);
}
.hero-container-content .lead {
  height: min-content;
}
.cards-container-col {
  width: 20%;
}

.img-right {
  background: rgb(251, 168, 59);
  background: -moz-linear-gradient(
    90deg,
    rgba(251, 168, 59, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(251, 168, 59, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(251, 168, 59, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fba83b",endColorstr="#000000",GradientType=1);
}

.img-left {
  background: rgb(251, 168, 59);
  background: -moz-linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(251, 168, 59, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(251, 168, 59, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(251, 168, 59, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fba83b",endColorstr="#000000",GradientType=1);
}

a{
  width: 20%;
}
