body{
    background-color: #eee;
}
.row{
    background-color: #fff;
}

.btn{
    background-color: transparent;
    border: 1px solid #000;
    color: black;
    border-radius: 5em;
}

.btn:hover{
    transition: all 0.4s ease;
    background-color: rgba(0, 0, 0, 0.08);
}

@media screen and (max-width: 992px) and (min-width: 280px) {
    .hero-section{
        display: flex;
        flex-direction: column;
    }

    .hero-section .col-4{
        width: 100%;
    }

    .hero-section .col-8{
        width: 100%;
        padding: 0;
    }
}